<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MsmqTransportConfig"
             type="NServiceBus.Unicast.Transport.Msmq.Config.MsmqTransportConfig, NServiceBus.Unicast.Transport.Msmq" />
    <section name="UnicastBusConfig"
             type="NServiceBus.Unicast.Config.UnicastBusConfig, NServiceBus.Unicast.Config" />
    <section name="MsmqSubscriptionStorageConfig"
             type="NServiceBus.Unicast.Subscriptions.Msmq.Config.MsmqSubscriptionStorageConfig, NServiceBus.Unicast.Subscriptions.Msmq" />
  </configSections>

  <MsmqTransportConfig
    InputQueue="messagebus"
    ErrorQueue="error"
    NumberOfWorkerThreads="1"
    MaxRetries="5"
  />

  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Messages="Messages"
           Endpoint="messagebus" />
    </MessageEndpointMappings>
  </UnicastBusConfig>

  <MsmqSubscriptionStorageConfig Queue="subscriptions" />

</configuration>