<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="MsmqTransportConfig"
             type="NServiceBus.Unicast.Transport.Msmq.Config.MsmqTransportConfig, NServiceBus.Unicast.Transport.Msmq" />
    <section name="UnicastBusConfig"
             type="NServiceBus.Unicast.Config.UnicastBusConfig, NServiceBus.Unicast.Config" />
  </configSections>

  <MsmqTransportConfig
    InputQueue="worker"
    ErrorQueue="error"
    NumberOfWorkerThreads="1"
    MaxRetries="5"
  />

  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Messages="Messages"
           Endpoint="messagebus" />
    </MessageEndpointMappings>
  </UnicastBusConfig>
  
</configuration>